---
import MainLayout from '../../layouts/MainLayout.astro';
import TeamMemberCard from '../../components/TeamMemberCard.vue';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const teamMembers = await getCollection('team', ({ data }) => {
  return data.template === 'team-member' && data.lang === lang;
});

// Sort team members if needed
const sortedTeamMembers = teamMembers.sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---

<MainLayout title={t('page.team.meta')} description={t('page.team.description')} lang={lang}>
  <h2>{t('page.team.title')}</h2>
  <div class="team-cont">
    {sortedTeamMembers.map((member, index) => (
      <TeamMemberCard
        client:load
        title={member.data.title}
        description={member.data.description}
        link={member.data.link ?? ''}
        featuredImage={member.data.featuredImage ?? ''}
        index={index}
      />
    ))}
  </div>
</MainLayout>
