---
import { Image } from 'astro:assets';
import type { Lang } from '../i18n/ui';
import { useTranslations } from '../i18n/utils';
import fhsLogo from "../assets/logos/fhs_cz.png";
import fldLogo from "../assets/logos/fld_cz.png";
import psuLogo from "../assets/logos/logo-psu.png";

interface Props {
  lang?: Lang;
}

const lang = (Astro.props.lang || 'en') as Lang;
const t = useTranslations(lang);
---

<footer class="footer">
  <div class="footer-max-width">
    <div class="top-footer">
      <a href="https://www.fld.czu.cz/en" target="_blank" class="logo czu">
        <Image src={fldLogo} alt="FLD Logo" width="300" height="50"/>
      </a>
      <a href="https://cuni.cz/uken-1.html" target="_blank" class="logo uk">
        <Image src={fhsLogo} alt="FHS Logo" width="300" height="50"/>
      </a>
      <a href="https://psu.cas.cz/en/" target="_blank" class="logo psu">
        <Image src={psuLogo} alt="PSU Logo" width="300" height="50"/>
      </a>
      </div>
      <div class="bottom-footer">
        <p>{t('site.copyright')}</p>
      </div>
  </div>
</footer>
