---
import { Image } from 'astro:assets';
import ukLogo from "./src/assets/logos/logo-uk.png";
import czuLogo from "./src/assets/logos/logo-czu.png";
import psuLogo from "./src/assets/logos/logo-psu.png";
---

<footer class="footer">
  <div class="footer-max-width">
    <div class="top-footer">
      <a href="https://cuni.cz/uken-1.html" target="_blank" class="logo uk">
        <Image src={ukLogo} alt="UK Logo" width="300" height="50"/>
        <img class="backlight" src="./src/assets/ornaments/logo-violet.svg"/>
      </a>
      <a href="https://www.czu.cz/en" target="_blank" class="logo czu">
        <Image src={czuLogo} alt="CZU Logo" width="300" height="50"/>
        <img class="backlight" src="./src/assets/ornaments/logo-green.svg"/>
      </a>
      <a href="https://psu.cas.cz/en/" target="_blank" class="logo psu">
        <Image src={psuLogo} alt="PSU Logo" width="300" height="50"/>
        <img class="backlight" src="./src/assets/ornaments/logo-violet.svg"/>
      </a>
      </div>
      <div class="bottom-footer">
        <p>© 2025 Digital Forest</p>
      </div>
  </div>
</footer>


