---
import MainLayout from '../layouts/MainLayout.astro';
import PublicationCard from '../components/PublicationCard.vue';
import { getCollection } from 'astro:content';

const publications = await getCollection('publications', ({ data }) => {
  return true;
});

// Sort publications by date
const sortedPublications = publications.sort((a, b) => 
  new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<MainLayout title="Publications | Digital Forest" description="Digital forest publications">
  <main>
    <h2>Publications</h2>
    <div class="team-cont">
      {sortedPublications.map((publication, index) => (
        <PublicationCard 
          client:load
          title={publication.data.title}
          authors={publication.data.authors}
          date={publication.data.date}
          link={publication.data.link ?? ''}
        />
      ))}
    </div>
  </main>
</MainLayout>